body{
  background-color: #c9b5ab;
}

h1{
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
}

a {
  color: #8f2440;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

ol{
  list-style-type: none;
}
